<div class="row bg-light">
  <div class="col text-center">
    <%= link_to 'Home', root_path, class: 'text-secondary' %> 
    <% if session[:stdent_id] %>
      <span calss="text-secondary">|</span>
      <%= link_to 'Logout', student_logout_path, class: 'text-secondary' %>
    <% end %>
  </div>
</div>